---
import Title from "@/components/title.astro";

interface Props {
  i18n: any;
}
const { i18n } = Astro.props;
---

<section
  id="about"
  class="w-11/12 md:w-3/4 flex flex-col justify-center items-center gap-y-4 md:gap-y-6"
>
  <Title title={i18n.TITLE} />

  <div
    class="w-full flex flex-col md:flex-row justify-center items-center gap-x-8 gap-y-8"
  >
    <div
      class="w-full md:w-1/2 flex flex-col justify-center items-center gap-y-8"
    >
      <p class="text-center text-lg">{i18n.DESCRIPTION1}</p>

      <img src={i18n.IMG1} class="w-52 rounded-xl" />

      <p class="text-center text-lg">{i18n.DESCRIPTION3}</p>
    </div>

    <div
      class="w-full md:w-1/2 flex flex-col justify-center items-center gap-y-8"
    >
      <img src={i18n.IMG2} class="w-80 rounded-xl" />
      <p class="text-center text-lg">{i18n.DESCRIPTION2}</p>
      <img src={i18n.IMG3} class="w-52 rounded-xl" />
    </div>
  </div>
</section>
