---
import HeaderLink from "@/components/header/header-link.astro";
import Language from "@/components/header/language.astro";

interface Props {
  i18n: any;
}
const { i18n } = Astro.props;
---

<header
  class="fixed top-0 z-50 w-full flex flex-row justify-between items-center bg-transparent p-4 md:p-8"
>
  <a class="hover:scale-110 transition-transform duration-300" href="#hero">
    <img class="w-14 h-auto" src="/favicon.webp" />
  </a>

  <!-- Desktop nav -->
  <nav class="hidden md:flex flex-row justify-center items-center gap-x-8">
    <HeaderLink link="#projects" title={i18n.PROJECTS} />
    <HeaderLink link="#education" title={i18n.EDUCATION} />
    <HeaderLink link="#experiences" title={i18n.EXPERIENCES} />
    <HeaderLink link="#about" title={i18n.ABOUT} />
    <HeaderLink link="#contact" title={i18n.CONTACT} />
    <Language />
  </nav>

  <!-- Mobile menu trigger -->
  <button
    id="menu-toggle"
    class="md:hidden flex justify-center items-center rounded-xl bg-[#1f1f1f] hover:scale-110 transition-transform duration-300 p-2"
  >
    <svg
      class="w-6 h-6"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 17 14"
    >
      <path
        stroke="#FFFFFF"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1"
        d="M1 1h15M1 7h15M1 13h15"></path>
    </svg>
  </button>
  <nav
    id="menu"
    class="hidden absolute top-20 right-4 bg-[#1f1f1f] rounded-xl shadow-xl flex-col justify-center items-center p-4 gap-y-2"
  >
    <HeaderLink link="#projects" title={i18n.PROJECTS} />
    <HeaderLink link="#education" title={i18n.EDUCATION} />
    <HeaderLink link="#experiences" title={i18n.EXPERIENCES} />
    <HeaderLink link="#about" title={i18n.ABOUT} />
    <HeaderLink link="#contact" title={i18n.CONTACT} />
    <Language />
  </nav>
</header>

<script>
  const menuToggleButton = document.getElementById(
    "menu-toggle"
  ) as HTMLButtonElement;
  const menu = document.getElementById("menu") as HTMLElement;

  menuToggleButton?.addEventListener("click", (e) => {
    e.stopPropagation();
    menu.classList.toggle("hidden");
    menu.classList.toggle("flex");
  });

  document.addEventListener("click", (e) => {
    menu.classList.add("hidden");
    menu.classList.remove("flex");
  });
</script>
