---
import Layout from "@/layouts/layout.astro";

import Header from "@/components/header/header.astro";
import Hero from "@/components/hero/hero.astro";
import Project from "@/components/project/project.astro";
import Education from "@/components/education/education.astro";
import Experience from "@/components/experience/experience.astro";
import About from "@/components/about/about.astro";

import { useI18n } from "@/i18n";

const { currentLocale } = Astro;
const i18n = useI18n({ currentLocale });
---

<Layout title={i18n.SEO.TITLE}>
  <main class="w-full flex flex-col items-center gap-y-20">
    <Header i18n={i18n.HEADER} />
    <Hero i18n={i18n.HERO} />
    <Project i18n={i18n.PROJECT} />
    <Education i18n={i18n.EDUCATION} />
    <Experience i18n={i18n.EXPERIENCE} />
    <About i18n={i18n.ABOUT} />
  </main>
</Layout>
