---
import Language from "./Language.astro";

import { useI18n } from "../i18n";

const { currentLocale } = Astro;
const i18n = useI18n({ currentLocale });
---

<header
  id="header"
  class="fixed top-0 w-11/12 md:w-3/4 z-50 bg-transparent border border-white rounded-full mt-5 md:mt-10 px-2 py-2 md:py-1"
>
  <nav class="flex flex-wrap justify-evenly gap-x-4">
    <a
      href="#home"
      class="text-base md:text-lg hover:scale-125 transition-transform duration-300"
      >{i18n.HEADER.HOME}</a
    >
    <a
      href="#education"
      class="text-base md:text-lg hover:scale-125 transition-transform duration-300"
      >{i18n.HEADER.EDUCATION}</a
    >
    <a
      href="#skills"
      class="text-base md:text-lg hover:scale-125 transition-transform duration-300"
      >{i18n.HEADER.SKILLS}</a
    >
    <a
      href="#projects"
      class="text-base md:text-lg hover:scale-125 transition-transform duration-300"
      >{i18n.HEADER.PROJECTS}</a
    >
    <a
      href="#about"
      class="text-base md:text-lg hover:scale-125 transition-transform duration-300"
      >{i18n.HEADER.ABOUT}</a
    >
    <a
      href="#contact"
      class="text-base md:text-lg hover:scale-125 transition-transform duration-300"
      >{i18n.HEADER.CONTACT}</a
    >
    <Language />
  </nav>
</header>

<script>
  window.addEventListener("scroll", () => {
    const header = document.getElementById("header")!;
    if (window.scrollY > 50) {
      header.classList.remove("bg-transparent");
      header.classList.add(
        "bg-gradient-to-r",
        "from-[#2d3142]",
        "via-[#555866]",
        "to-[#555866]"
      );
    } else {
      header.classList.remove(
        "bg-gradient-to-r",
        "from-[#2d3142]",
        "via-[#555866]",
        "to-[#555866]"
      );
      header.classList.add("bg-transparent");
    }
  });
</script>
