---
import { useI18n } from "../i18n";

const { currentLocale } = Astro;
const i18n = useI18n({ currentLocale });
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/favicon.png" />

    <meta name="author" content={i18n.SEO.AUTHOR} />
    <meta name="description" content={i18n.SEO.DESCRIPTION} />
    <meta name="keywords" content={i18n.SEO.KEYWORDS} />

    <meta name="generator" content={Astro.generator} />

    <title>{i18n.SEO.TITLE}</title>
  </head>

  <body class="min-h-screen">
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Now";
    src: url("/fonts/now.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  html {
    font-family: "Now";
    background: linear-gradient(to right, #2d3142 20%, #555866 80%);
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;
    color: #ffffff;
  }
</style>
